@font-face {
     font-family: 'HelveticaNeueBold';
     src: url("../fonts/HelveticaNeueBold.ttf");
}

/*<<<<<<< Updated upstream*/
@font-face {
     font-family: 'HelveticaNeueRegular';
     src: url("../fonts/HelveticaNeueRegular.ttf");
}

* {
     font-family: HelveticaNeueRegular;
}




/*HOME*/

#faceMask {
     height: 100vh;
     background-image: url("../img/FaceMask.png");
     background-repeat: no-repeat;
     background-size: 160vh;
     background-position: -225px -10vh;
}

#faceText {
     width: 70vw;
     padding: 1.5em 0 0 1em;
}

body {
     background-color: lightgray;
}

.container{
    color: aquamarine;
}

* {
     font-family: HelveticaNeueRegular;
}

#faceMask {
     height: 100vh;
     background-image: url("../img/FaceMask.png");
     background-repeat: no-repeat;
     background-size: 160vh;
     background-position: -225px -10vh;
}

#faceText {
     width: 70vw;
     padding: 1.5em 0 0 1em;
}

#faceText>h1 {
     margin: 0;
     font-family: HelveticaNeueBold;
     font-size: 1.75em;
}

#faceText>p {
     margin: 0;
     font-size: 11px;
}

#galeriaProductos>*>* { 
     margin: 0;
}

#galeriaProductos {
     margin: 1em;
     width: 200px;
     position: absolute;
     bottom: -5em;            /* ?? */
}

.producto, .productoPrincipal {
     display: flex;
     flex-direction: column;
}

.producto {
     display: none;
}

.producto>div, .productoPrincipal>div {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

.producto>div>p, .productoPrincipal>div>p {
     flex-grow: 1;
}

.producto>div>*, .productoPrincipal>div>* {
     margin: 0;
}

.tituloProducto {
     font-family: HelveticaNeueBold;
}

.precio {
     font-family: HelveticaNeueBold;
}

#serum {
     height: 30vh;
     background-color: #FFFFFF;
}

#serum>h1 {
     margin: 0;
     font-family: HelveticaNeueBold;
     text-align: center;
     position: relative;
     font-size: 3em;
     left: -50px;
     display: block;
     white-space: nowrap;
     text-overflow: clip;
}

#productoSecundario {
     margin: 1em;
     width: 120px;
     position: absolute;
     top: 835px;
}

#productoSecundario>.productoPrincipal>.precio {
     position: relative;
     top: -1em;
     left: -1em;
     margin: 0;
}

#productoSecundario>.productoPrincipal>.descripcion {
     position: relative;
     top: -9.5em;
     left: 13em;
     margin: 0;
     width: 40vw;
     font-size: 12px;
}

@media (min-width: 576px) { 

     }


@media (min-width: 768px) {

      }


@media (min-width: 992px) { 
     #faceMask {
          background-size: 115vw;
          background-position: -225px -40vh;
     }
     
     #faceText {
          font-size: 1.8em;
          width: 23vw;
          padding: 40vh 0 0 2em;
     }
     
     #faceText>p {
          font-size: .7em;
     }
     
     #galeriaProductos {
          margin: 1em;
          width: 200px;
          display: flex;
          position: absolute;
          top: 5em;
          right: 0vw;
          width: 50vw;
          height: 60vh;
          margin: 0;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: right;
     }
     
     .producto, .productoPrincipal {
          display: flex;
          flex-direction: column;
          width: 12vw;
          height: 20vh;
          padding: 2em 5em 0 0;
     }
     
     #serum {
          height: 75vh;
          background-color: #FFFFFF;
          overflow: hidden;
     }

     #serum>h1 {
          text-align: justify;
          font-size: 17em;
     }
     
     /**/
     #productoSecundario {

          width: 100%;
          position: relative;
          top: -25vh;
     }

     #productoSecundario>.productoPrincipal {
          width: 25vw;
          padding-left: 37.5vw;
     }

     #productoSecundario>.productoPrincipal>.precio {
          font-size: 5em;
     }
     
     #productoSecundario>.productoPrincipal>.descripcion {
          top: -8em;
          left: 19em;
          width: 25vw;
          font-size: 2.2em;
     }
}


     .splitHeader {
          width: 0%;
          height: .5em;
     }

     #searchBar, #shoppingUtil {
          order: 1;
          margin-right: 2em
     }

     #searchBar {
          flex-grow: 4;
     }

     #menu>ul {
          padding: 0;
     }

     #mainContent {
          padding: 0 20vw 0 20vw;
     }








     footer {
          max-width: 100%;
          overflow: hidden;
     }

     #footerMain {
          display: flex;
          flex-direction: row;
          flex-wrap:nowrap;
          justify-content: space-between;
          max-width: 100%;
          
     }
          
     #footerMain>* {
          width: 12%;
     }

     #footerLogo {
          flex-grow: 1;
          max-width: 45%;
     }
     
     #legal {
          padding-top: 1em;
          width: 35%;
     }
     
     .splitFooter {
          display: none;
     }


/* af4360b (Header Footer 1)*/




/*PRODUCTO*/

.fotopr {
     position: -webkit-sticky;
     position: sticky;
     top: 5em; 
     bottom: 5em;/* Ajusta la distancia desde la parte superior según tus preferencias */
     padding: 4em;
 }
.fotopr > img{
     padding: 2em;
}
 .infopr {
     margin-left: 20px; /* Ajusta el margen izquierdo para evitar que el contenido se superponga con la imagen fija */
 }

.nombrepr{
     color: black;
}

.botones{
     display: flex;
     justify-content:space-between; 
}

.btn-circle {
     border-radius: 50%;
     width: 40px; /* Ajusta el tamaño según tus preferencias */
     height: 40px;
     background-color: black;
     color: rgb(0, 0, 0);
     font-size: 120rem; /* Ajusta el tamaño del texto según tus preferencias */
     margin-right: 5px; /* Espacio entre los botones */
 }

 .d-flex {
     justify-content:space-between; /* Centra los botones horizontalmente */
    /* Espacio superior */
 }
.estrellas{
     color: black;
}


.textopr{
     color:black;
}


#galeriaRelacionados{
     padding: 3em;
}