@font-face {
     font-family: 'HelveticaNeueBold';
     src: url("../fonts/HelveticaNeueBold.ttf");
}

/*<<<<<<< Updated upstream*/
@font-face {
     font-family: 'HelveticaNeueRegular';
     src: url("../fonts/HelveticaNeueRegular.ttf");
}

* {
     font-family: HelveticaNeueRegular;
}




/*HOME*/

body {
     background-color: transparent;
}
#anuncio1{
     background-image: url("../img/FaceMask.png");
     width: 100%;
     height: 100%;
     background-repeat: no-repeat;
     background-size: 100%;
     position;
     
     
}
#anuncio_1_mascarillas{
     height: 110vh;
   
}

#faceMask{
   
     
}
#faceText {
     width: 70vw;
     padding: 1.5em 0 0 1em;
}




* {
     font-family: HelveticaNeueRegular;
}





#faceText>h1 {
     margin: 0;
     font-family: HelveticaNeueBold;
     font-size: 1.75em;
}

#faceText>p {
     margin: 0;
     font-size: 11px;
}


/*GALERIA ANUNCIO 1 MASCARILLAS*/

#galeriaProductos>*>* { 
     margin: ;
}

#galeriaProductos {
     margin: 1em;
     width: 400px;
     position:absolute;
     bottom: 5em;            /* ?? */
}

.producto_anuncio1_mascarilla1,
.producto_anuncio1_mascarilla2,
.producto_anuncio1_mascarilla3,
.producto_anuncio1_mascarilla4 {
     display: flex;
     flex-direction: column;
     max-width: 12em;
}



.producto_anuncio1_mascarilla1 > div,
.producto_anuncio1_mascarilla2 > div,
.producto_anuncio1_mascarilla3 > div,
.producto_anuncio1_mascarilla4 > div {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

.producto_anuncio1_mascarilla1 > div > p,
.producto_anuncio1_mascarilla2 > div > p,
.producto_anuncio1_mascarilla3 > div > p,
.producto_anuncio1_mascarilla4 > div > p {
     flex-grow: 1;
}

.producto_anuncio1_mascarilla1 > div > *,
.producto_anuncio1_mascarilla2 > div > *,
.producto_anuncio1_mascarilla3 > div > p,
.producto_anuncio1_mascarilla4 > div > p  {
     margin: 0;
}

.tituloProducto {
     font-family: HelveticaNeueBold;
}

.precio {
     font-family: HelveticaNeueBold;
}

#anuncio_2_lipbalm {
     margin-top:1em;
     height: 30vh;
     background-color:transparent;
}

#anuncio_2_lipbalm>h2 {
     background-color:transparent;
   
     font-family: HelveticaNeueBold;
     text-align: center;
     align-items: center;
   
     position: relative;
     font-size: 9em;
    
     display: flex;
     flex-wrap: wrap;
     white-space: nowrap;
     text-overflow: clip;
}

#producto_anuncio2 {
     margin: 1em;
     width: 120px;
     position: absolute;
     top: 835px;
}
#producto_anuncio2>.productoLipBalm > img{
     display: flex;
     flex-wrap: wrap;
     width: 50vh;
     align-items: start;
   
}
#producto_anuncio2>.productoLipBalm>.precio {
     position: relative;
     top: -1em;
     left: -1em;
     margin: 0;
}

#producto_anuncio2>.productoLipBalm>.descripcion {
     position: relative;
     top: -9.5em;
     left: 13em;
     margin: 0;
     width: 40vw;
     font-size: 12px;
}



/* best sellers*/
/*LAs barritas la de la izq*/

#BestSellers{
     height: 125vh;
     width: 100vh;
     justify-content: space-between;
}
.lateralesIzq,
.lateralesDch{
     background-color: black;
     height: 55em;

}
.lateralesDch{
     position:sticky;
     float: right     ;
}
.lateralesIzq > h1,
.lateralesDch > h1{
     
 color:#FFFFFF;
  transform: rotate(90deg); 
  transform-origin: left bottom; 
  white-space: nowrap; 
  font-family: 'HelveticaNeueBold';
  font-size: 4em;

} 

.bestsellers{
     flex: 1;


}


.producto_bestsellers_bestseller1,
.producto_bestsellers_bestseller2,
.producto_bestsellers_bestseller3,
.producto_bestsellers_bestseller4,
.producto_bestsellers_bestseller5,
.producto_bestsellers_bestseller6 {
     display: flex;
     flex-direction: column;
   
     
}



.producto_bestsellers_bestseller1 > div,
.producto_bestsellers_bestseller2 > div,
.producto_bestsellers_bestseller3 > div,
.producto_bestsellers_bestseller4 > div,
.producto_bestsellers_bestseller5 > div,
.producto_bestsellers_bestseller6 > div{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

.producto_bestsellers_bestseller1 > div > p,
.producto_bestsellers_bestseller2 > div > p,
.producto_bestsellers_bestseller3 > div > p,
.producto_bestsellers_bestseller4 > div > p,
.producto_bestsellers_bestseller5 > div > p,
.producto_bestsellers_bestseller6 > div > p {
     flex-grow: 1;
}

.producto_bestsellers_bestseller1 > div > *,
.producto_bestsellers_bestseller2 > div > *,
.producto_bestsellers_bestseller3 > div > *,
.producto_bestsellers_bestseller4 > div > *,
.producto_bestsellers_bestseller5 > div > *,
.producto_bestsellers_bestseller6 > div > * {
     margin: 0;
}




.rounded-button {
     display: inline-block;
     padding: 15px 20px;
     border-radius: 20px;
     border-color: #7c3232;
     background-color: #ffffff; /* Puedes cambiar el color de fondo según tus preferencias */
     color: #000000; /* Color del texto */
     text-align: center;
     border: 2px solid #000000;
     text-decoration: none;
     font-size: 16px;
     cursor: pointer;
     overflow: hidden;
     position: relative;
     line-height: 0px;
   }

   .rounded-button span {
     float: left;
     
   }

   .arrow {
     float: right;
     margin-left: 10px; /* Espacio entre el texto y la flecha */
     line-height: 00px;
 }
.precio{
     float:right;
}



/*SKIN ROUTINE*/
#skinRoutine{
     display: flex;
     flex-wrap: wrap;
     margin:2em;
     width: 195vh;
     justify-content: space-between;
justify-items: center;

}

#skinRoutine > h1{
     text-align: center;
}
.productoSkinRoutine_1,
.productoSkinRoutine_2,
.productoSkinRoutine_3,
.productoSkinRoutine_4{
     
     display: flex;
     flex-grow: row;
}

@media (min-width: 576px) { 

     }


@media (min-width: 768px) {

      }


@media (min-width: 992px) { 
     #faceMask {
          background-size: 115vw;
          background-position: -225px -40vh;
     }
     
     #faceText {
          font-size: 1.8em;
          width: 23vw;
          padding: 40vh 0 0 2em;
     }
     
     #faceText>p {
          font-size: .7em;
     }
     
     #galeriaProductos {
          margin: 1em;
          width: 200px;
          display: flex;
          position: absolute;
          top: 5em;
          right: 0vw;
          width: 50vw;
          height: 60vh;
          margin: 0;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: right;
     }
     
     .producto_anuncio1_mascarilla1,
.producto_anuncio1_mascarilla2,
.producto_anuncio1_mascarilla3,
.producto_anuncio1_mascarilla4  {
          display: flex;
          flex-direction: column;
          width: 12vw;
          height: 20vh;
          padding:2em;
          padding-bottom:5em;
          padding-top:3em;
     }
     /*ANUNCIO 2*/
     #anuncio_2_lipbalm {
          height: 75vh;
          background-color: #FFFFFF;
          overflow: hidden;
     }

     #anuncio_2_lipbalm>h1 {
          text-align: justify;
          font-size: 17em;
          display: flex;
          flex-wrap: wrap;
     }
     
     /**/
     #producto_anuncio2 {

          width: 100%;
          position: relative;
          top: -25vh;
     }

     #producto_anuncio2>.productoLipBalm {
          width: 25vw;
          padding-left: 37.5vw;
     }

     #producto_anuncio2>.productoLipBalm>.precio {
          font-size: 5em;
     }
     
     #producto_anuncio2>.productoLipBalm>.descripcion {
          top: -8em;
          left: 19em;
          width: 25vw;
          font-size: 2.2em;
     }
}


     .splitHeader {
          width: 0%;
          height: .5em;
     }

     #searchBar, #shoppingUtil {
          order: 1;
          margin-right: 2em
     }

     #searchBar {
          flex-grow: 4;
     }

     #menu>ul {
          padding: 0;
     }

     #mainContent {
          padding: 0 20vw 0 20vw;
     }








     footer {
          max-width: 100%;
          overflow: hidden;
     }

     #footerMain {
          display: flex;
          flex-direction: row;
          flex-wrap:nowrap;
          justify-content: space-between;
          max-width: 100%;
          
     }
          
     #footerMain>* {
          width: 12%;
     }

     #footerLogo {
          flex-grow: 1;
          max-width: 45%;
     }
     
     #legal {
          padding-top: 1em;
          width: 35%;
     }
     
     .splitFooter {
          display: none;
     }


/* af4360b (Header Footer 1)*/




/*PRODUCTO*/
#productoInfo{
     padding:0;
}
.izquierda {
     position: -webkit-sticky;
     position: sticky;
     bottom: 5em;/* Ajusta la distancia desde la parte superior según tus preferencias */
     padding: 2em;
 }

figure{
     color:black;
}

 
.fotopr > img{
     max-width: 28em;
     justify-content: center;
}

.gallery-container {
     overflow-x: auto;
     white-space: nowrap;
   }

   .gallery-item {
     display: inline-block;
     width: 300px;
     margin-right: 10px;
   }
 .infopr {
     margin-left: 20px; /* Ajusta el margen izquierdo para evitar que el contenido se superponga con la imagen fija */
 }

.nombrepr{
     color: black;
}

.botones{
     display: flex;
     justify-content:space-between; 
}

.btn-circle {
     border-radius: 50%;
     width: 40px; /* Ajusta el tamaño según tus preferencias */
     height: 40px;
     background-color: black;
     color: rgb(0, 0, 0);
     font-size: 120rem; /* Ajusta el tamaño del texto según tus preferencias */
     margin-right: 5px; /* Espacio entre los botones */
 }

 .d-flex {
     justify-content:space-between; /* Centra los botones horizontalmente */
    /* Espacio superior */
 }
.estrellas{
     color: black;
}


.textopr{
     color:black;
}


#galeriaRelacionados{
     padding: 3em;
}





/*CATEGORIA*/

