.container botones > {
    display: flex !important;
    justify-content: space-around;
}

.btn{
    color:black;
    text-align:left;

}
hr{
    margin: 0rem;
}

@media (min-width: 768px){

    .col-md-4{
        flex: 0 0 auto;
        width: 33.33333333%;
        margin: 0;
        padding-left:  0;
    }

}


